body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 /* Container 1 */

.container-first {
    background-color: #1f2937;
}

.container-1 {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}

.link-container {
    display: flex;
}
.link {
    font-size: 14px;
    color: #e5e7eb;
    margin-left: 13px;
}

/* Container 2 */

.container-2 {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding-bottom: 80px;
    justify-content: space-between;
    align-items: start;
    gap: 3%;
}

.Hero {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

.two-image {
    width: 100%;
    height: 20%;
}

.one {
    display: flex;
    flex-direction: column;
    flex-shrink: 6;
    justify-content: start;
    align-items: flex-start;
}

.button {
    background-color: #3882f6;
    color:#f9faf8;
    padding: 4px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    border-radius: 6px;
    border-color:#3882f6;
    width: 18%;
}

/* Container 3 */

.container-3 {
    display: flex;
}

.container-3-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#1f2937;
    margin-top: 25px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
}

.img-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.img-3 {
    width: 100%;    
    margin: auto;
}

.caption {
    font-size: 12px;
    color:#1f2937;
    margin: auto;
    text-align: center;
}

/* Container 4 */

#container-4 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 24%;
    padding-right: 24%;
}

#sun {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-top: 80px;
    text-align: center;
}

#tzu {
    margin-bottom: 80px;
    font-size: 25px;
}

/* Container 5 */

#container-5 {
    padding-left: 20%;
    padding-right: 20%;
}

.container-5-call {
    background: #3882f6;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-5-description {
    font-size: 11px;
    color:white;
    padding-left: 10px;
    margin-left: 80px;
}

.container-5-heading {
    margin-bottom: 3px;
}

.container-5-capt {
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-top: 0;
    font-weight: lighter;
}

.container-5-button {
    background-color: #3882f6;
    border-color: white;
    border-radius: 5px;
    color: #f9faf8;
    padding: 3px;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: bold;
    border-style:ridge;
    margin-right: 100px;
}
